---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4 class="fw-bold">About Me</h4>
    I'm a third-year PhD student at NYU Courant advised by Joseph Bonneau.

    <br>
    <br>
    I'm interested in applied cryptography, blockchains and developing privacy-preserving applications.

    <br>
    <br>
    <br>
    <br>

    <h4 class="fw-bold">Internships </h4 >

    Andreessen Horowitz (a16z)'s crypto research group (Summer 2022) 

    <br>

    Microsoft Research Bangalore (Summer 2020).

  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/arch.jpeg" alt="Home" width="50%">
  </div>
</div>

<!-- {% include publications.html %} -->

<h4 class="fw-bold">Publications</h4>

{% include publications.markdown %}

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->